:root {
  /*font family*/
  --ff-main: "Roboto", sans-serif;

  /*color*/
  --clr-primary: #040765;
  --clr-primary-dark: #030650;
  --clr-red: #de0303;
}

.main-container {
  min-height: 100vh;
  font-family: var(--ff-main);
  background-color: #f4f4f4;
}

.main-header {
  background-color: var(--clr-primary);
  padding-inline: 2rem;
  align-items: flex-end;
  justify-content: flex-start;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1;
}

.main-header h1 {
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-size: 3rem;
  font-style: italic;
}

.main-nav {
  padding: 0.6rem 2rem;
}

.main-nav .main-ul {
  gap: 1rem;
}

.main-ul .main-li {
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300;
}
.main-ul .main-li:hover,
.main-ul .active {
  color: rgba(255, 255, 255, 1);
}

.bookmarks-wrapperLink {
  margin-left: auto;
}

.bookmarks {
  padding-block: 0.6rem;
  color: #fff;
  position: relative;
}

.bookmarks:hover {
  cursor: pointer;
}

.bookmarks-count-wrapper {
  position: absolute;
  top: 4px;
  left: -6px;
  background-color: var(--clr-red);
  border-radius: 50%;
  width: 1.4rem;
  height: 1.4rem;
}

/*NEWS SECTION*/

.news-section {
  margin-top: 2rem;
  padding-inline: 2rem;
}

.news-list {
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.news {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  height: 100%;
  transition: all 100ms;
}

.news:hover {
  box-shadow: var(--clr-primary-dark) 0px 2px 8px;
}

.news-title {
  min-height: 4rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.news-description {
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 0.8);
}

.news-img img {
  width: 100%;
  aspect-ratio: 2;
  object-fit: cover;
}

.news-body,
.news-footer {
  padding: 10px;
}

.news-footer {
  flex-grow: 1;
  align-items: flex-end;
  justify-content: flex-end;
}

.news-footer button {
  background: none;
  border: none;
  font-family: inherit;
}

.add-bookmark-btn {
  padding: 5zpx;
}

.add-bookmark-btn:hover {
  cursor: pointer;
}

.add-bookmark-btn:disabled {
  cursor: auto;
}
